#element_1595671822331 {
	font-size: ;
	line-height: ;
	letter-spacing: 0px;
	word-spacing: 0px;
	font-weight: 900;
}
#element_1595671822331 > span {
	color: #000000;
	text-align: justify;
}
#element_1595913145421 {
	background-color: #fffefe;
	box-shadow: 0px 0px -49px 0px #7c3636;
}
#layouts-20200728053014 > section.section.p-t-50.p-b-50.edit.safe-mode.nodrop > div.container > div.row > div.col-xl-10.mx-auto > div.row.pricing-list.d-flex.justify-content-center > div.col-sm-6.col-md > div.plan > div.heading > .price {
	color: #9d00ff;
	font-style: oblique;
	font-weight: bold;
	word-spacing: 0px;
	letter-spacing: 0px;
	background-color: #fffefe;
	background-position: 100% 0%;
	border-top-left-radius: 55;
}
